html , body{
	margin:0;
	padding:0;
}

body{
	background-color: rgb(42,52,58);
}

.wrapper , .wrapper-body{
	padding: 0;
	margin: 0;
}
.wrapper-body{
	display: none;
}
.container{
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px 0 15px;
	width: 63%;
	height: 100%;
	position: relative;
}
.centered{
  margin: 0 auto;
}
/*stuff for cover page*/
#intro{
	height: 100vh;
	background-image: url(../assets/images/fullBG.png);
	background-size: cover;
	color: white;
	font-weight: bold;
	font-size: 26px;
	font-family: Arial, Gadget, sans-serif;
}
#centerStuff{
	position: relative;
	top: 0px;
	width: 500px;
	margin:0 auto;
	text-align: center;
}
#logo{
	display: block;
	position: relative;
	margin: 0 auto;
	margin-right:118px;
	top: 220px;
	width: auto;
}
#description{
	position:relative;
	width: 403px;
	top: 250px;
	margin: 0 auto;
}
#enter{
	position: relative;
	top: 300px;
	color: white;
	font-weight: bold;
	font-size: 25px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: solid white 4px;
}

/*stuff for banner*/
#banner{
	background-image: url('../assets/images/jjs2.png');
	background-size: cover;
	height: 970px;
	/*overflow: hidden;*/
  font-family: 'Allan' , cursive;
  font-weight: 700;
}
#banner-logo{
  position: absolute;
  width: 100%;
	top: 100px;
}
#banner-logo img{
	width: 690px;
	display: block;
}
/*#bannerQuote{
  text-align: center;
  color: white;
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 70px;
}
#quoteLineLeft{
  display: inline;
  position: absolute;
  left: 320px;
  top: 545px;
}
#quoteLineRight{
  display: inline;
  position: absolute;
  right: 500px;
  top: 742px;
}
#bannerQuote p{
  width: 275px;
}
#bannerQuote >p span{
  display: block;
}*/
  /*Stuff for the header nav bar*/
.headNav{
  position: absolute;
  width: 100%;
  display: inline-block;
}
.navList{
  list-style: none;
  padding: 0;
  text-align: center;
  width: 100%;
	height: 61px;
  margin: 105px 0 0 0;
}
.navList li{
  float: left;
  font-size: 48px;
}
.navPadder{
  display: inline-block;
  width: 145px;
  height: 50px;
}
.navList >li a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 75px;
}
.navList >li a:hover{
  color: rgba(250,220,64,1);
}
#bannerArrow{
	position: absolute;
	width: 100%;
	bottom: 0;
}
#bannerArrow img{
	display: block;
	margin-bottom: -30px;
}
/*stuff for the Image Board*/
#imageBoard{
	background-color: rgb(42,52,58);
	height: 800px;
}
.descImg{
	position: relative;
	height: 100%;
	left: -100%;
	transform: translate(0 , 0);
	transition: .4s linear;
}
.activeImg{
	position: relative;
	transform: translate(100%,0);
	transition: .4s linear;
}
#flipboard{
	height: 560px;
	width: 995px;
	padding: 75px;
}
.imageRow{
	height: 33%;
	display: flex;
}
#imageBoard .container{
	width: 75%
}
.imageBox{
	background-color: rgb(42,52,58);
	width: 25%;
	overflow: hidden;
}
.imageBox-red{
		background-color: rgba(171,50,60,1);
}
.previewImage{
	height: 100%;
	position: relative;
	display: block;
}
.previewImage img{
	width: 100%;
}
.boxHover{
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
}
.previewImage:hover .boxHover{
	display: block;
}
#description-area{
  height: 554px;
  width: 1400px;
  position: absolute;
	text-align: right;
	overflow: hidden;
}

/*About me shit*/

.circleImage{
	border-radius: 100%;
}
#about-details{
	width: 70%;
	margin: 50px auto;
}
#meImage{
	width: 150px;
}
