html , body{
	margin:0;
	padding:0;
}
body{
	background-image: url(../assets/images/bodyPattern2.png);
	background-size: cover;
}
.wrapper , .wrapper-body{
	padding: 0;
	margin: 0;
}
.wrapper-body{
	display: none;
}
/*responsive shit*/
.container{
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px 0 15px;
	width: 1200px;
	position: relative;
}
.row{
	box-sizing: border-box;
	margin: 0 -15px 0 -15px;
	padding: 0;
}
.col{
	box-sizing: border-box;
	padding: 0 15px 0 15px;
}
/*----------*/
#intro{
	height: 100vh;
	background-image: url(../assets/images/fullBG.png);
	background-size: cover;
	color: white;
	font-weight: bold;
	font-size: 26px;
	font-family: Arial, Gadget, sans-serif;
}
.headBorder{
	top: 0;
	/*position: fixed;*/
	width: 100%;
	height: 30px;
	background-color: rgba(60,80,92,.7);
	opacity: 1;
	z-index: 1;
}
#logo{
	display: block;
	position: relative;
	margin: 0 auto;
	margin-right:118px;
	top: 220px;
	width: auto;
}
#centerStuff{
	position: relative;
	top: 0px;
	width: 500px;
	margin:0 auto;
	text-align: center;
}
#midBox{
	height: auto;
	margin: 100px 0 0 0;
/*	background-color: #FFF;
	opacity: .4;*/
}
#description{
	position:relative;
	width: 403px;
	top: 250px;
	margin: 0 auto;
}
#enter{
	position: relative;
	top: 300px;
	color: white;
	font-weight: bold;
	font-size: 25px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: solid white 4px;
}

.headNav{
	height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.headNav li{
	height: 30px;
	width: auto;
	float:left;
}

.headNav > li a{
	height: 30px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	padding: 4px 16px;
	text-decoration: none;
	color: #FFF;
}

.headNav > li a:hover{
	background-color: rgba(0,0,0,.6);
	color: #FFF8D9;
}

.headNav > li.active{
	/*border-bottom: red solid 5px;*/
}
#banner{
	background-image: url('../assets/images/jjs2.png');
	background-size: cover;
	height: 1000px;
	overflow: hidden;
}
#banner img{
	width:1900px;
	top: 500px;
}

/*slider styles*/
.slideBody{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 400px;
	overflow: hidden;
	/*background-color: #5fd5d5;*/
}
.row-content{
	padding: 25px 25px 25px 25px;
	height: auto;
}
.row-content-title{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 680px;
	padding: 10px 0px 10px 0px;
	border-bottom: 2px solid black;
}
.row-content-title img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.sidebar{
	overflow: hidden;
	float: left;
	position: relative;
	padding-right: 0;
	width: 15%;
	min-height: 400px;
}

.slideContainer{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float:left;
	position: relative;
	padding: 0;
	width: 66%;
	overflow: hidden;
	height: 400px;
	background-color: #000;
}

.slide{
	animation: fadein 2s;
	display: none;
	max-height: 450px;
	min-width: 747px;
}
.slide img{
	max-width: 747px;
	height: auto;
}

.prev , .next{
	position: absolute;
	background-color: rgba(0,0,0,.4);
	font-size: 25px;
	color: white;
	font-weight: bold;
	top: 50%;
	width: auto;
	border: none;
	border-radius: 0 5px 5px 0;
}
.prev:hover , .next:hover{
	animation: buttonFade 1500ms;
	background-color: rgba(0, 0, 0, 0.8);
}
.next{
	right: 0;
	border-radius: 5px 0 0 5px;
}
.preview{
	/*height: 80px;*/
	height: 20px;
	overflow: hidden;
	transform: translate(0% , 0);
	transition: .4s linear;
	transform-origin: right;
}
.preview-active{
	/*left: 350px;*/
	overflow: hidden;
	transform: translate(80%, 0);
}
.preview >img{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to{
		opacity:1;
	}
}
@keyframes buttonFade {
	from{
		background-color: rgba(0, 0, 0, 0.4);
	}
	to{
		background-color: rgba(0, 0, 0,.8);
	}
}
#caption-box{
	height: auto;
	width: 50%;
	background-color: #000;
	margin: 0 auto;
	border-radius: 10px;
	opacity: .3;
}
#slider-caption{
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bolder;
	color: white;
}
#banner-logo img{
	width: 680px;
	display: block;
	margin: 0 auto;
	padding: 100px 10px 100px 10px;
}
/*blog post stuff*/
.blogPost{
	width: 600px;
	height: 200px;
	border: 1px solid black;
	border-radius: 25px;
}
#blogs{
	margin: 100px 0 0 0;
}
.blogRow{
	background-color: #3c505c;
	height: 350px;
}
.blogCol{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 33%;
	height: 350px;
	padding: 15px 0 15px 0;
	/*border-right:2px solid white;*/
	overflow: hidden;
}
.blogCol-border{
	position: absolute;
	width: 30px;
	top: 0;
	right: 0;
	border-right: 2px solid white;
	height: 250px;
	margin: 50px 0 50px 0;
}
.blogPrev{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 300px;
	height: 300px;
	overflow: hidden;
}
.blogPrev img{
	height: 100%;
	left: -300px;
	top: -50%;
}
