html , body{
	margin:0;
	padding:0;
}
body{
	background-image: url(../assets/images/bodyPattern.png);
	background-size: cover;
}
.wrapper , .wrapper-body{
	padding: 0;
	margin: 0;
}
.wrapper-body{
	display: none;
}
.container{
	padding: 0 20% 0 20%;
}
#intro{
	height: 100vh;
	background-image: url(../assets/images/fullBG.png);
	background-size: cover;
	color: white;
	font-weight: bold;
	font-size: 26px;
	font-family: Arial, Gadget, sans-serif;
}
.headBorder{
	top: 0;
	position: fixed;
	width: 100%;
	background-color: #FFF;
	opacity: .6;
}
#logo{
	display: block;
	position: relative;
	margin: 0 auto;
	margin-right:118px;
	top: 220px;
	width: auto;
}
#centerStuff{
	position: relative;
	top: 0px;
	width: 500px;
	margin:0 auto;
	text-align: center;
}
#midBox{
	height: 1000px;
	width: 1700px;
	margin: 100px auto;
	background-color: #FFF;
	opacity: .4;
}
#description{
	position:relative;
	width: 403px;
	top: 250px;
	margin: 0 auto;
}
#enter{
	position: relative;
	top: 300px;
	color: white;
	font-weight: bold;
	font-size: 25px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: solid white 4px;
}

.headNav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li{
	width: 85px;
	float:left;
}

.headNav > li a{
	display: block;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	padding: 14px 16px;
	text-decoration: none;
	color: #000;
}

.headNav > li a:hover{
	height: auto;
	background-color: #111;
	color: #FFF8D9;
}

.headNav > li.active{
	border-bottom: red solid 5px;
}
